@import "tailwindcss";

@layer base {
  h1 {
    @apply text-3xl;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 py-2 px-4 rounded-xl font-bold hover:bg-blue-700 text-white;
  }
}

@theme {
  --spacing-128: 32rem;
  --breakpoint-xs: 30rem;
}

.content-area {
  @apply bg-green-200;
  height: theme("spacing.128");
}
